@model UserEditingViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.User

@{
    ViewBag.Title = "Видалити користувача";
    Layout = null;
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <label class="alert alert-danger">
        @ViewBag.ErrorMessage
    </label>
}

@using (Html.BeginForm("DeleteUserConfirm", "User", new { area = "Admin", controller = "User", userId = Model.UserId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="AreaUser" class="modal-title panel-title"> @ViewBag.Title @Model.UserName ?</h3>
    </div>
    @Html.ValidationSummary(true, "", new { Class = "label label-danger" })
    <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
        <button type="submit" class="btn btn-danger col-md-offset-2"> Delete </button>
    </div>
}