@*@model UserListViewModel*@
@using Sattelite.EntityFramework.ViewModels.Admin.User
@using Sattelite.Web
@{
    var users = AppCach.AllUsers;
    var Model = new UserListViewModel { Users = users.ToList() };
}

<div class="box-head h5">
    <span> Користувачі</span>
</div>

<div>
    @Html.Partial("List", Model)
</div>