@model ProjectRoleViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Role

@{
    Layout = null; //open in modal
    ViewBag.Title = "Видалити проектну роль";
}

@using (Html.BeginForm("Delete", "ProjectRole", new { area = "Admin", controller = "ProjectRole", @RoleId = Model.RoleId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 id="AreaRole" class="modal-title panel-title">@ViewBag.Title @Model.Name ?</h3>
    </div>
    @Html.Partial("_ErrorMessage")
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
        <button type="submit" class="btn btn-danger col-md-offset-2"> Delete </button>
    </div>
}
