@model CategorySubscriptionViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Category

@{
    ViewBag.Title = "Відписатись від категоріїї (новин, проектів)";
    //ViewBag.Title = "Unsubsribe from Category (RSS news, projects)";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@using (Html.BeginForm("RemoveCategorySubscriptionConfirm", "Category", new { categoryId = Model.CategoryId, userName = Model.UserName }, FormMethod.Post))
{
    <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3 class="panel-title text-danger"> @ViewBag.Title</h3>
    </div>
    <div class="modal-dialog">
        <div class="modal-body form-horizontal">
            <div class="form-group">
                <label class="col-lg-3 col-sm-3">Category</label>
                <text name="CategoryName" class="col-lg-6 col-sm-6">@Model.CategoryName</text>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3">Subscriber</label>
                <text name="UserName" class="col-lg-6 col-sm-6 ">@Model.UserName</text>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="buttons">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
            <button type="submit" class="btn btn-danger col-md-offset-2"> Unsubscribe </button>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var $form = $('form');
            $form.submit(function (e) {
                e.preventDefault();
                var viewModel = $(this).serialize();
                var url = $(this).attr('action');
                //var url ="/Category/RemoveCategorySubscriptionConfirm"

                $.post(url, viewModel)
                    .fail(function (response) {
                        var errorMsg = (response.responseText)
                            ? response.responseText : response.message;
                        errorMessage("Failed unsubscribing user from category: " + errorMsg);
                    }).success(function (response) {
                        var subscribed = (response.Success == true)
                        if (subscribed) {
                            infoMessage("Successfully unsubscribed from the category!");
                        }
                        else {
                            errorMessage("Failed unsubscribing from category!");
                        }
                    }).always(function (response) { });     
            });
        });
    </script>
}