@model RoleListViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Role
@using Sattelite.EntityFramework.ViewModels.Admin.User
@using Sattelite.Web
@{
    //predefined roles :
    //Enum.GetNames(typeof(Sattelite.DefaultRoles));
    //Enum.GetNames(typeof(Sattelite.DefaultProjectMemberRoles));

    var applicationRoles = AppCach.AllRoles;
    var projectRoles = AppCach.AllProjectRoles;
    var users = AppCach.AllUsers;
}
<div class="alert alert-info">
    <ul class="nav nav-pills">
        <li>
            <a href="#applicationRoles" data-toggle="tab">Application roles</a>
        </li>
        <li>
            <a href="#projectRoles" data-toggle="tab">Project roles</a>
        </li>
        <li>
            <a href="#users" data-toggle="tab">Users</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="applicationRoles" class="tab-pane active animation-fade">
            @Html.Partial("List", new RoleListViewModel { Roles = applicationRoles.ToList() })
        </div>

        <div id="projectRoles" class="tab-pane animation-fade">
            @Html.Partial("~/Areas/Admin/Views/ProjectRole/List.cshtml", new ProjectRoleListViewModel { ProjectRoles = projectRoles.ToList() })
        </div>

        <div id="users" class="tab-pane animation-fade">
            @Html.Partial("~/Areas/Admin/Views/User/List.cshtml", new UserListViewModel { Users = users.ToList() })
        </div>
    </div>
</div>