@model CategoryCreatingViewModel
@using Sattelite.EntityFramework.ViewModels.Admin.Category
@using System.Web.Optimization

@{
    ViewBag.Title = "Create category";
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="box">
        <div class="box-head">Створити категорію</div>

        <div class="form">
            <p>
                <span class="req">max 100 symbols</span>
                <label>Назва категорії <span>(*)</span></label>
                @Html.TextBoxFor(x => x.Name, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>
            <p>
                <label>Опис</label>
                @Html.TextAreaFor(x => x.ShortDescription, new { Class = "field size1" })
                @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="buttons">
            <input type="submit" class="btn btn-success" value="Створити" />
        </div>
    </div>
}