
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, select {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}

:focus {
    outline: 0;
}


/* 
   General 
------------------------------------------------------------------- */

html {
    height: 100%;
    padding-bottom: 1px; /* force scrollbars */
}

body {
    background-image: url(images/background_main.jpg);
    background-size: 100%;
    color: #334;
    font: normal 75% sans-serif;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0.3em;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

    h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
        margin: 0;
    }


/* Links */

a:focus, a:hover {
    color: #357;
}

a {
    color: #357;
    text-decoration: underline;
}

    a.feed {
        background: url('themes/base/images/icon-feed.gif') no-repeat left center;
        padding-left: 18px;
    }

    /* More links */
    a.more {
        color: #579;
        font-weight: bold;
    }

        a.more:hover {
            color: #234;
        }


/* Text elements */

p {
    margin-bottom: 1em;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
}

address {
    margin-bottom: 1.5em;
}

blockquote {
    margin: 1.5em;
}

del, blockquote {
    color: slategrey;
}

em, dfn, blockquote, address {
    font-style: italic;
}

strong, dfn {
    font-weight: bold;
}

sup, sub {
    line-height: 0;
}

pre {
    margin: 1.5em 0;
    white-space: pre;
}

pre, code, tt {
    font: 1em monospace;
    line-height: 1.5;
}


/* Lists */

li ul, li ol {
    margin-left: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}

    dl dt {
        font-weight: bold;
    }

dd {
    margin-left: 1.5em;
}



/* Special lists */

ul.plain-list li, ul.nice-list li, ul.tabbed li {
    list-style: none;
}

ul.tabbed {
    display: inline;
    margin: 0;
}

    ul.tabbed li {
        float: left;
    }

ul.plain-list {
    margin: 0;
}

ul.nice-list {
    margin-left: 0;
}

    ul.nice-list li {
        list-style: none;
        border-top: 1px solid #EEE;
        padding: 4px 0;
    }

        ul.nice-list li:first-child {
            border-top: none;
        }

        ul.nice-list li .right {
            color: #999;
        }

/* Tables */

table {
    margin-bottom: 1.4em;
    width: 100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #C3D9FF;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

tr.even td {
    background: #F2F6FA;
}

tfoot {
    font-style: italic;
}

caption {
    background: #EEE;
}

table.data-table {
    border: 1px solid #CCB;
    margin-bottom: 2em;
    width: 100%;
}

    table.data-table th {
        background: #F0F0F0;
        border: 1px solid #DDD;
        color: #555;
        text-align: left;
    }

    table.data-table tr {
        border-bottom: 1px solid #DDD;
    }

    table.data-table td, table th {
        padding: 10px;
    }

    table.data-table td {
        background: #F6F6F6;
        border: 1px solid #DDD;
    }

    table.data-table tr.even td {
        background: #FCFCFC;
    }


/* Misc classes */

.small {
    font-size: 0.9em;
}

.smaller {
    font-size: 0.8em;
}

.smallest {
    font-size: 0.7em;
}

.large {
    font-size: 1.15em;
}

.larger {
    font-size: 1.25em;
}

.largest {
    font-size: 1.35em;
}

.hidden {
    display: none;
}

.quiet {
    color: #999;
}

.loud {
    color: #000;
}

.highlight {
    background: #ff0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text-separator {
    padding: 0 5px;
}

.error, .notice, .success {
    border: 1px solid #DDD;
    margin-bottom: 1em;
    padding: 0.6em 0.8em;
}

.error {
    background: #FBE3E4;
    color: #8A1F11;
    border-color: #FBC2C4;
}

    .error a {
        color: #8A1F11;
    }

.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

    .notice a {
        color: #514721;
    }

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

    .success a {
        color: #264409;
    }


/* 
   Forms 
------------------------------------------------------------------- */

label {
    font-weight: bold;
    cursor: pointer;
}

fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

textarea {
    overflow: auto;
}

input.text, textarea, select {
    background: #FCFCFC;
    border: 1px inset #AAA;
    margin: 0.5em 0;
    padding: 4px 5px;
}

    input.text:focus, textarea:focus, select:focus {
        background: #FFFFF5;
    }

input.button {
    background: #DDD;
    border: 1px outset #AAA;
    padding: 4px 5px;
}

    input.button:active {
        border-style: inset;
    }

.form-error {
    border-color: #F00;
}


/* 
   Alignment 
------------------------------------------------------------------- */

/* General */

.center, .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Images */

img.bordered, img.alignleft, img.alignright, img.aligncenter {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 3px;
}

img.alignleft, img.left {
    margin: 0 1.5em 1em 0;
}

img.alignright, img.right {
    margin: 0 0 1em 1.5em;
}


/* Floats */

.left, .alignleft {
    float: left;
    /*padding-left: 100px;*/
}

.right, .alignright {
    float: right;
}

.clear, .clearer {
    clear: both;
}

.clearer {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
}


/* 
   Separators 
------------------------------------------------------------------- */

.content-separator, .archive-separator {
    background: #D5D5D5;
    clear: both;
    color: #FFE;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 1px;
}

.content-separator {
    margin: 20px 0;
}

.archive-separator {
    margin: 10px 0;
}


/* 
   Posts 
------------------------------------------------------------------- */

.post a {
    text-decoration: none;
}

    .post a:hover {
        text-decoration: underline;
    }

.post img.left, .post img.right {
    margin-bottom: 0;
}

.post-date {
    color: #777;
    margin: 2px 0 10px;
}

    .post-date a {
        color: #444;
    }

.post-title h1, .post-title h2, .post-title h3 {
    margin-bottom: 0;
}

.post-meta {
    background: #F6F6F6;
    border: 1px solid #DDD;
    color: #777;
    padding: 6px 10px;
}

    .post-meta a {
        color: #345;
    }

        .post-meta a:hover {
            color: #001;
        }

.post-body {
    font-size: 1.1em;
    /*width:@parent-container;*/
}

    .post-body a {
        color: #039;
    }

        .post-body a:hover {
            color: #039;
        }

    .post-body img.left, .post-body img.right {
        margin-bottom: 1em;
    }

/* Archives */
.archive-pagination {
    margin-bottom: 16px;
}

.archive-post-date {
    background: #F5F5F5;
    border-bottom: 1px solid #C5C5C5;
    border-right: 1px solid #CFCFCF;
    float: left;
    margin-right: 12px;
    padding: 2px 0 5px;
    text-align: center;
    width: 46px;
}

.archive-post-title .post-date {
    margin: 0;
}

.archive-post-title {
    padding-top: 4px;
}

.archive-post-day {
    font: normal 1.6em Georgia,serif;
}


/* 
   Layout 
------------------------------------------------------------------- */

/* General */
.center-wrapper {
    margin: 0 auto;
    width: 100%;
}

/* Network */
#network {
    background: #EEE;
}

    #network .left {
        color: #333;
        padding-left: 10px;
    }

    #network .tabbed a {
        display: block;
        padding: 6px 10px 7px;
        text-decoration: none;
        color: #668;
    }

    #network li a:hover {
        background: #F6F6F6;
        color: #000;
    }

    #network li.current-tab {
        background: #FFF;
        font-weight: bold;
    }

    #network .text-separator, #network span {
        color: #999;
    }


/* Toolbar */
.login-toolbar {
    float: right;
    bottom: 10px;
    right: 10px;
    font-size: 1.1em;
    color: #999;
    padding-right: 20px;
    padding-top: 10px;
}

    .login-toolbar img {
        vertical-align: middle;
    }

/* Header */

#header {
    margin-bottom: 24px;
}

/* Site title */
#site-title {
    font: normal 1.6em serif;
    border-bottom: 1px solid #CCC;
    padding-bottom: 24px;
}

    #site-title span {
        color: #999;
    }

    #site-title a {
        color: #000;
        text-decoration: none;
    }

/* Main navigation */

/*#main-nav a {
    color: #888;
    font-size: 1.5em;
    padding: 9px 14px;
}*/

/* Main */

.main {
    margin-top: 20px;
}

    .main#main-three-columns {
        background: url('themes/base/images/main-three-columns.gif') repeat-y right top;
    }

        .main#main-three-columns .sidebar {
            width: 193px;
        }

        .main#main-three-columns .main-left {
            width: 520px;
        }

    .main#main-two-columns {
        background: url('themes/base/images/main-two-columns.gif') repeat-y right top;
    }

        .main#main-two-columns .right-sidebar {
            width: 250px;
            margin-right: 10px;
            float:right;
            /*margin-top:50px;*/
        }

        .main#main-two-columns .main-left {
            float:left;
            padding-left:10px;
            min-width:300px; /*width: 671px;*/
        }

.sidebar a {
    text-decoration: none;
}

    .sidebar a:hover {
        text-decoration: underline;
    }

/* Columns */
.col3 {
    width: 32%;
}

.col3-mid {
    margin-left: 2%;
}

/* Sidebar sections */
.section {
    margin-bottom: 16px;
}

.section-title {
    background-color: #F2F6FA;
    border-top: 2px solid #ABC;
    font: bold 1.1em sans-serif;
    margin-bottom: 5px;
    min-height: 0;
    padding: 5px 8px 6px;
}

.network-section .section-title {
    background-color: #F6F6F6;
    border-color: #D6D6D6;
}


/* Dashboard */

#dashboard {
    background: #FAFAFA url('themes/base/images/dashboard.gif') repeat-y left top;
    border: 1px solid #E7E7E7;
}

    #dashboard .column {
        width: 244px;
    }

    #dashboard #column-4 {
        border-right: none;
    }

    .column-content {
        padding: 14px 16px;
    }

    #dashboard .column-title {
        color: aqua;
        font-size: 1.4em;
        font-weight: bold;
        padding-bottom: 5px;
    }

    #dashboard a {
        color: #456;
    }

        #dashboard a:hover {
            color: #000;
        }


/* Footer Links */

.footer-links {
    padding-left: 30px;
    padding-right: 30px;
}

    .footer-links a {
        color: #579;
        text-decoration: none;
    }

    .footer-links .right, .footer-links .right a {
        color: #999;
        text-decoration: none;
    }

    .footer-links .text-separator {
        padding: 0 3px;
        color: #BBB;
    }

.footer-links a:hover {
    color: #000;
}

/* Border */
.noborder {
    border: 0;
}

.notborder {
    border-top: 0;
}

.norborder {
    border-right: 0;
}

.nobborder {
    border-bottom: 0;
}

.nolborder {
    border-left: 0;
}

/* Margin */

.nomargin {
    margin: 0;
}

.notmargin {
    margin-top: 0;
}

.normargin {
    margin-right: 0;
}

.nobmargin {
    margin-bottom: 0;
}

.nolmargin {
    margin-left: 0;
}

/* Padding */

.nopadding {
    padding: 0;
}

.notpadding {
    padding-top: 0;
}

.norpadding {
    padding-right: 0;
}

.nobpadding {
    padding-bottom: 0;
}

.nolpadding {
    padding-left: 0;
}

/* Single line IE fix */
* html #sub-nav, * html .section-title, * html .main {
    height: 0.01%;
    min-height: 0.01%;
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 20px 0 12px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.icon-time {
    background-image: url(/Content/themes/base/images/icon-time.gif);
    width: 14px;
    height: 14px;
}

/*==================================== site THEME==============================================*/
body {
    margin: 0px;
    padding: 0px;
    color: #6d8d95;
    font-family: Helevetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #21373d;
    background-image: url(images/site_body.png);
    background-repeat: repeat;
}

a, a:link, a:visited {
    color: #33CCCC;
}

    a:hover {
        color: #CCFF00;
        text-decoration: none;
    }

p {
    margin: 0px;
    padding: 0 0 10px 0;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #fff;
}

h1 {
    font-size: 34px;
    margin: 0 0 30px 0;
    padding: 5px 0;
    color: #d8ff00;
}

h2 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 0;
    color: #d8ff00;
}

h3 {
    font-size: 21px;
    margin: 0 0 20px 0;
    padding: 0;
}

h4 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 0;
}

h5 {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 0;
}

h6 {
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
}

.cleaner_h10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.cleaner_h20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.cleaner_h40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.cleaner_h50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.cleaner_h60 {
    clear: both;
    width: 100%;
    height: 60px;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.image_wrapper {
    padding: 8px;
    border: 1px solid #000000;
    background: #143037;
}

.fl_img {
    float: left;
    margin: 3px 30px 15px 0;
}

.fr_img {
    float: right;
    margin: 3px 0 15px 15px;
}

blockquote {
    font-style: italic;
}

cite {
    font-weight: bold;
}

    cite span {
        color: #fff;
    }

.site_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .site_list li {
        margin: 0 0 15px 15px;
        padding: 0 0 0 30px;
        background: url(images/site_list.png) top left no-repeat;
    }


.button a {
    width: 60px;
    padding: 4px 25px 4px 0;
    background: url(images/site_readmore.png) center right no-repeat;
    color: #12758e;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    text-decoration: none;
}

    .button a:hover {
        text-decoration: underline;
    }

.site_wrapper {
    width: 990px;
    margin: 0 auto;
    background: url(images/site_wrapper.png) repeat-y;
}

/* header */

.site_header {
    margin: 0px;
    background: url(images/site_header.png) no-repeat;
    background-size: 100%;
    height: 200px;
    text-align: match-parent;
    vertical-align:middle;
    padding-bottom: 10px;
}

    .site_header #site_title {
        color: yellow;
        display: inline-block;
        text-align: center;
        /*font-size: 20px;*/
        margin:80px;
    }

/* end of header */

/* main */

.site_main {
    width: 100%;
    padding: 60px 40px 30px 10px;
    background: url(images/site_content_top.png) no-repeat;
}

/* sidebar */

.site_sidebar {
    top: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 250px;
}

/* menu */

.site_menu {
    margin-bottom: 50px;
}

    .site_menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .site_menu ul li {
            padding: 0px;
            margin: 0 0 5px 0;
        }

            .site_menu ul li a {
                display: block;
                height: 45px;
                padding: 11px 0 0 30px;
                font-size: 14px;
                text-decoration: none;
                color: #CCC;
                font-weight: bold;
                outline: none;
                background: url(images/left_menu.png) no-repeat left bottom !important;
            }

    .site_menu li a:hover, .site_menu li .current {
        color: #fff;
        text-decoration:underline;
        background: url(images/left_menu_hover.png) no-repeat left bottom;
    }

/* end of menu */

/* sidebar box */
.sidebar_box {
    padding-left: 30px;
}

.news_box {
    margin-bottom: 20px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #19343b;
}

    .news_box:hover {
        background: #132b31;
    }

    .news_box img {
        float: left;
        width: 80px;
        border: 1px solid #FFF;
        padding: 2px;
    }

    .news_box p {
        float: right;
        width: 140px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

/* content */
#site_content {
    float: right;
    width: 600px;
}

    #site_content p {
        text-align: justify;
        margin-bottom: 10px;
    }

.two_column {
    width: 280px;
}

.post_box {
    clear: both;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: url(images/menu_divider.png) bottom repeat-x;
}

    .post_box .post_content {
        clear: both;
        margin: 10px 0;
    }

.post_content .right {
    float: right;
    width: 300px;
}

    .post_content .right img {
        width: 280px;
        height: 240px;
        border: 1px solid #000;
        padding: 5px;
        background: #143037;
    }

.post_content .left {
    float: left;
    width: 280px;
}

.post_content h2 {
    margin-bottom: 5px;
}

.post_box p {
    padding-bottom: 5px;
    margin: 20px 0 10px 0;
}

.post_section .post_info {
    font-style: italic;
}

.post_box .comment_tab {
    padding: 10px 0;
    margin: 40px 0 20px 0;
    border-bottom: 1px dashed #19343b;
    font-size: 20px;
    font-weight: bold;
}

/* gallery */

#gallery {
    width: 600px;
    padding: 40px 0;
}

    #gallery ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #gallery ul li {
            float: left;
            display: block;
            padding: 0;
            margin: 0;
            width: 245px;
            padding: 5px;
            background: #09161a;
            border: 1px solid #000;
            margin: 0 30px 30px 0;
        }

            #gallery ul li h5 {
                margin-bottom: 15px;
            }

        #gallery ul img {
            width: 245px;
            height: 130px;
            border: none;
            margin-bottom: 10px;
        }
/* end of gallery */

#contact_form {
    float: left;
    padding: 0;
}

    #contact_form form {
        margin: 0px;
        padding: 0px;
    }

        #contact_form form .input_field {
            width: 350px;
            padding: 5px 0;
            background: #1f3c44;
            border: 1px solid #183036;
        }

        #contact_form form label {
            display: block;
            width: 100px;
            margin-right: 10px;
            font-size: 14px;
        }

        #contact_form form textarea {
            width: 350px;
            height: 200px;
            background: #1f3c44;
            border: 1px solid #183036;
        }

        #contact_form form .submit_btn {
            margin-left: 108px;
        }

#site_footer {
    width: 100%;
    height: 17px;
    margin: 0px 10px;
    padding: 35px 0;
    text-align: center;
    background: url(images/site_footer.png) no-repeat;
}
